<% var title = 'Ikke funnet'; %>
<%- include('partials/header', { title }) %>

<div class="error-page">
  <h1>404</h1>
  <p>Siden finnes ikke.</p>
  <a href="/" class="btn">Til forsiden</a>
</div>

<%- include('partials/footer') %>
